###################################################
###################################################
# Config this file to specifies the DAF settings. #
###################################################
###################################################

kafka.zk.connect=127.0.0.1:2181
kafka.metadata.broker.list=localhost:9092
kafka.topic=tweets